<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品优购分类页面</title>
    <link rel="stylesheet" href="/mui/css/mui.css">
    <link rel="stylesheet" href="/mui/fonts/mui.ttf">
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/category.css">
</head>

<body>
    <div class="layout">
        <div class="search">
            <div class="mui-input-row .mui-input-search mui-search searchs">
                <input type="search" class="mui-input-clear" placeholder="">
            </div>
        </div>
        <div class="pygviews">
            <div class="left">
                <ul>

                </ul>
            </div>
            <div class="right">
                <div class="rightList">

                </div>
            </div>
        </div>
        <div class="footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item " href="/index">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item mui-active" href="/categories">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="./cart.html">
                    <span class="fa fa-shopping-cart"></span>
                    <div class="mui-tab-label" style='font-size: 12px'>购物车</div>
                </a>
                <a class="mui-tab-item" href="./user.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
</body>
<script type='text/template' id='leftCate'>
    {{each result value index}}
  <li class="{{index==0?'active':''}}"><a href="#" data-id='{{value.cat_id}}'>{{value.cat_name}}</a></li>
  {{/each}}
</script>
<script type='text/template' id='rightonecate'>
    {{each result value index}}
<div class="cate2">
    <div class="cate2_title catname" data-id='{{value.cat_id}}'>{{value.cat_name}}</div>
    <div class="cate2_content">
        <ul>
            {{each value.children v i}}
               <li>
                   <a href="goods_list.html?cid={{v.cat_id}}">
                       <img src="http://157.122.54.189:9094/{{v.cat_icon}}" alt="">
                       <span>{{v.cat_name}}</span>
                   </a>
               </li>
               {{/each}}
        </ul>
    </div>
</div>
{{/each}}
</script>
<script src='/zepto/zepto.js'></script>
<script src='/mui/js/mui.min.js'></script>
<script src='/arttemplate/template-web.js'></script>
<script src='/iscroll/iscroll.js'></script>
<script src='/js/common.js'></script>
<script src='/js/category.js'></script>


</html>