<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>29-品优购</title>
    <link rel="stylesheet" href="/mui/css/mui.css">
    <link rel="stylesheet" href="/mui/fonts/mui.ttf">
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="layout">
        <div class="search">
            <div class="mui-input-row .mui-input-search mui-search searchs">
                <input type="search" class="mui-input-clear" placeholder="">
            </div>
        </div>
        <div class="pygviews">
            <div class="banner">
                <div class="mui-slider">
                    <div class="mui-slider-group mui-slider-loop ban">
                        <!--支持循环，需要重复图片节点-->

                    </div>
                    <div class="mui-slider-indicator indicator">

                        <!-- <div class="mui-indicator mui-active"></div> -->
                    </div>
                </div>

            </div>
            <div class="nav">
                <a href='javascript:;'>
                    <img src="https://image1.suning.cn/uimg/cms/img/155411189774023862.gif?format=_is_120w_120h" alt="">
                    <div class="text">爆款手机</div>
                </a>
                <a href='javascript:;'>
                    <img src="https://image1.suning.cn/uimg/cms/img/155175138228120594.png?format=_is_120w_120h.webp"
                        alt="">
                    <div class="text">生活家电</div>
                </a>
                <a href='javascript:;'>
                    <img src="https://image2.suning.cn/uimg/cms/img/154708804944582613.png?format=_is_120w_120h.webp"
                        alt="">
                    <div class="text">生鲜产品</div>
                </a>
                <a href='javascript:;'>
                    <img src="https://image3.suning.cn/uimg/cms/img/154710176930796178.png?format=_is_120w_120h.webp"
                        alt="">
                    <div class="text">限时抢购</div>
                </a>
            </div>
            <div class="goodList">

            </div>
        </div>
        <div class="footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item mui-active" href="/index">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item" href="/categories">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-contact">
                    <span class="fa fa-shopping-cart"></span>
                    <div class="mui-tab-label" style='font-size: 12px'>购物车</div>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-map">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
</body>

 <!-- 动态渲染轮播图 -->
<script type='text/template' id='bantemp'>
    <div class="mui-slider-item mui-slider-item-duplicate"><a href="{{data[data.length-1].navigator_url}}"><img src="{{data[data.length-1].image_src}}" /></a>
    </div>
    {{each data value index}}
    <div class="mui-slider-item"><a href="{{value.navigator_url}}"><img src="{{value.image_src}}" /></a></div>
    {{/each}}
    <!--支持循环，需要重复图片节点-->
    <div class="mui-slider-item mui-slider-item-duplicate"><a href="{{data[0].navigator_url}}"><img src="{{data[0].image_src}}" /></a>
    </div>
</script>

<!-- 动态渲染小圆点 -->
<script type='text/template' id='indicate'>
    {{each data value index}}
    <div class="mui-indicator {{index==0?'mui-active':''}}"></div>
    {{/each}}
</script>


<!-- 动态渲染商品列表 -->
<script type='text/template' id='goodsList'>
    {{each data value index}}
    <div class="goods">
        <img src="{{value.group_img}}" alt="">
        <div class="pro">
            {{each value.goods v i}}
            <div class="pros">
                <a href="javascript:;">
                    <img src="{{v.goods_small_logo}}" alt="">
                    <div class='text mui-ellipsis-2'>{{v.goods_name}}</div>
                    <div class="price">￥{{v.goods_price}}</div>
                </a>
                <a class="mui-btn mui-btn-danger mui-btn-outlined" href="javascript:;">找相似</a>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</script>
<script src='/zepto/zepto.js'></script>
<script src='/mui/js/mui.min.js'></script>
<script src='/arttemplate/template-web.js'></script>
<script src='/js/common.js'></script>
<script src='/js/index.js'></script>

</html>